[user]
    name = eric feigner
    email = feigner@gmail.com

[color]
    branch = auto
    diff = auto
    status = auto
    ui = true

[color "branch"]
    current = red reverse
    local = blue
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    # general
    st = status -s
    co = checkout
    ci = commit
    cm = commit -m
    br = branch
    sh = stash

    #list commands
    le = log --oneline --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lds = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

    # diff
    diff = diff --word-diff
    d = diff --word-diff

[core]
    editor = nvim
    pager = diff-so-fancy | less --tabs=4 -RFX

