.DS_Store
vim/.netrwhist
vim/.undo
vim/.viminfo*
vim/plugins/**
tmux/plugins/**
tmux/resurrect/**
karabiner/automatic_backups
iterm2/AppSupport
iterm2/sockets

zsh/plugins/**
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump
zsh/.zcompcache
